# IDEA
.idea/*
.idea/vcs.xml
.idea/encodings.xml
*.iml

# IDEA compilation output
/build/
/out/**

# Gradle
.gradle/
/*/build/
gradlew*

src/main/java/cz/speedygonzales/testing/TestingClass*

target
gen
gradle
